#display {
    width: 100%;
    height: 100%;
    text-align: end;
    font-size: 5rem;
}

.btn {
    width: 25%;
    height: 5rem;
    padding: 0;
    margin: 0;
    font-size: 2rem;
}
.coluna {
    padding: 0;
}